<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>SENA TechAccess</mat-toolbar>
    
    @if (authService.isAuthenticated()) {
      <mat-nav-list>
        <!-- menuItems() si es un Signal, o menuItems si es un array simple -->
        @for (moduleName of menuItems(); track moduleName) {
          <a mat-list-item 
             [routerLink]="'/' + moduleName.toLowerCase()" 
             routerLinkActive="active-link">
             <mat-icon matListItemIcon>{{ getIcon(moduleName) }}</mat-icon>
             <span matListItemTitle>{{ moduleName }}</span>
          </a>
        }

        <!-- Botón de logout con estilo -->
        <a mat-list-item (click)="logout()" class="logout-item">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Cerrar Sesión</span>
        </a>
      </mat-nav-list>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Panel Administrativo</span>
    </mat-toolbar>
    
    <!-- Contenedor con la animación que definimos en el SCSS -->
    <main class="main-content-wrapper">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>