<div class="login-page-wrapper">
  <div class="form-side">
    <div class="login-card-container">
      <mat-card class="modern-card">
        <mat-card-header>
          <div class="header-content">
            <mat-card-title>¿Olvidaste tu contraseña?</mat-card-title>
            <mat-card-subtitle>Ingresa tu correo para enviarte las instrucciones.</mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div *ngIf="messageSent" class="mensaje-exito">
            <mat-icon color="primary">check_circle</mat-icon>
            <h2>¡Revisa tu bandeja de entrada!</h2>
            <p>Hemos enviado un enlace para restablecer tu contraseña.</p>
            <div class="form-options justify-center">
              <a routerLink="/auth/login" class="forgot-password">Volver al inicio de sesión</a>
            </div>
          </div>

          <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" *ngIf="!messageSent" class="login-form">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email" type="email" placeholder="nombre@ejemplo.com">
              <mat-icon matPrefix>mail</mat-icon>
              
              <mat-error *ngIf="recoveryForm.get('email')?.hasError('email')">
                Ingresa un correo válido
              </mat-error>
              <mat-error *ngIf="recoveryForm.get('email')?.hasError('required')">
                El correo es obligatorio
              </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" class="login-button" 
                    [disabled]="recoveryForm.invalid || loading">
              {{ loading ? 'Enviando...' : 'Enviar instrucciones' }}
            </button>

            <div class="form-options justify-center">
              <a routerLink="/auth/login" class="forgot-password">Volver al inicio de sesión</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="illustration-side">
    <div class="illustration-content">
      <div class="illustration-text">
        <h2>TechAccess</h2>
      </div>
      <img src="login-character.png" alt="TechAccess Character" class="character-img">
    </div>

    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>

    <div class="illustration-footer">
      <p>© 2026 TechAccess - SENA. Todos los derechos reservados.</p>
    </div>
  </div>
</div>